PORT=8080
GOOGLE_CLOUD_PROJECT=ithuriel-dev
GCS_SNAPSHOTS_BUCKET=ithuriel-dev-snapshots
PUBSUB_SNAPSHOTS_TOPIC=ithuriel-snapshots
FIREBASE_PROJECT_ID=ithuriel-dev
LOG_LEVEL=info

# Emulators (local)
# FIRESTORE_EMULATOR_HOST=localhost:8080
# PUBSUB_EMULATOR_HOST=localhost:8085
# FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
